@import '../abstracts';

.edge-to-edge {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}

.offset {
  @include respond-above(tablet) {
    margin: 0 16.66666% 0 8.88888%;
  }
}

.self-center {
  justify-content: center;
}

.center-fixed {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  margin: 0 auto;

  @include respond-above(medium) {
    flex: 0 1 66.66666%;
    max-width: 66.66666%;
  }
}

.centered {
  // centered here is set to 10 columns
  margin: 0 auto;

  @include respond-above(medium) {
    flex: 0 1 66.66666%;
    max-width: 66.66666%;
  }
}

.self-center .w-full {
  text-align: center;
}

.w-full {
  width: 100%;
  max-width: 100%;
}

.w-2col {
  width: 100%;

  @include respond-above(medium) {
    flex: 0 1 16.66666%;
    max-width: 16.66666%;
  }
}

.w-3col {
  width: 100%;

  @include respond-above(medium) {
    flex: 0 1 25%;
    max-width: 25%;
  }
}

.w-4col {
  width: 100%;

  @include respond-above(medium) {
    flex: 0 1 33.33333%;
    max-width: 33.33333%;
  }
}

.w-5col {
  width: 100%;

  @include respond-above(medium) {
    flex: 0 1 41.6666%;
    max-width: 41.6666%;
  }
}

.w-6col {
  width: 100%;

  @include respond-above(medium) {
    flex: 0 1 50%;
    max-width: 50%;
  }
}

.w-7col {
  width: 100%;

  @include respond-above(medium) {
    flex: 0 1 58.33333%;
    max-width: 58.33333%;
  }
}

.w-8col {
  width: 100%;

  @include respond-above(medium) {
    flex: 0 1 66.66666%;
    max-width: 66.66666%;
  }
}

.w-9col {
  width: 100%;

  @include respond-above(medium) {
    flex: 0 1 75%;
    max-width: 75%;
  }
}

.w-10col {
  width: 100%;

  @include respond-above(medium) {
    flex: 0 1 83.33333%;
    max-width: 83.33333%;
  }
}
