.alignmentPickerList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 578px;
  border: 1px solid #b5bcc7;
  padding: 15px;
  overflow: hidden;
  border-radius: 4px;
  background-color: #f2f2f2;
}

  .alignmentPickerList li {
    float: left;
    border: 3px solid transparent;
  }

    .alignmentPickerList li:hover {
      border: 3px solid #b5bcc7;
    }

    .alignmentPickerList li:last-child {
      margin-left: 10px;
      border: 1px solid transparent;
    }

      .alignmentPickerList li:last-child:hover {
        border: 1px solid #b5bcc7;
      }

.alignment-clear {
  background: #EC0000;
  color: #fff !important;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 2.1em;
  font-weight: bold;
  text-align: center;
  width: 38px;
  height: 38px;
  line-height: initial;
  border-radius: 5px;
}



.alignmentPickerList li.selectedAlignment {
  border: 3px solid #7cb5ec;
}

.alignmentPickerList li a {
  width: 38px;
  height: 38px;
  border: 4px solid #f2f2f2;
  display: block;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
}

  .alignmentPickerList li a.alignment-clear {
    width: 19px;
    height: 19px;
    font-size: 18px;
    border: 0;
  }

  .alignmentPickerList li a.text-left, .alignmentPickerList li a.justify-start {
    background: url('../picture/icons/textAlignLeftIcon.png');
    background-size: cover;
  }

  .alignmentPickerList li a.text-center, .alignmentPickerList li a.justify-center {
    background: url('../picture/icons/textAlignCenterIcon.png');
    background-size: cover;
  }

  .alignmentPickerList li a.text-right, .alignmentPickerList li a.justify-end {
    background: url('../picture/icons/textAlignRightIcon.png');
    background-size: cover;
  }

  .alignmentPickerList li a.center-fixed {
    background: url('../picture/icons/textAlignFullIcon.png');
    background-size: cover;
  }

  .alignmentPickerList li a span {
    position: absolute;
    margin: -100000px;
  }
