.generic-landing-page
{    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;

    .main-content {
        position: relative;
        width: calc(100% - 29.5rem);
    }
}