<div class="dijitInline video-editor vimeo-video-editor">

  <div class="container control" data-dojo-attach-point="videoContainer">
    <img class="image-header" src="/ClientResources/images/vimeoLogoBlue.png">
    <div id="SelectedValue" class="video-results">

    </div>
    <div class="well" style="vertical-align: top">
      <input id="SearchQuery" type="text" class="form-control" placeholder="Search">
      <button id="SearchButton" class="btn btn-default">Search</button>
    </div>
    <ul class="pager _one">
      <li class="previous disabled">
        <a href="#" class="previous">← Less</a>
      </li>
      <li class="next disabled">
        <a href="#" class="next">More →</a>
      </li>
    </ul>
    <div id="Results" class="video-results">
      <p> The results of your search will appear here. </p>
      <p> You will be able to preview and select the video you like. </p>
    </div>
    <ul class="pager _two">
      <li class="previous disabled">
        <a href="#" class="previous">← Less</a>
      </li>
      <li class="next disabled">
        <a href="#" class="next">More →</a>
      </li>
    </ul>
  </div>
  <script id="VimeoVideoResultsTemplate" type="text/template">
    <% results.forEach(function(result) { %>
    <div class="video-result vid-<%= result.videoId %> thumb-<%= result.thumbnailId %>" data-id="<%= result.videoId %>" data-name="<%= result.name %>" data-thumbnail="<%= result.thumbnailId %>">
      <div class="video-thumbnail">
        <a class="video-autoplay" title="<%= result.name %>" href="<%= result.link %>">
          <img src="<%= result.pictures.sizes[0].link %>" />
        </a>
      </div>
      <div class="video-description">
        <a class="video-autoplay" title="<%= result.name %>" href="<%= result.link %>"><strong><%= result.name %></strong></a>
        <br />
        <ul class="video-meta">
          <li>
            <small>
              by <a class="channel-link" href="<%= result.user.link %>" target="_blank"><strong><%= result.user.name %></strong></a>
            </small>
          </li>
          <li><small><%= result.release_time %></small></li>
        </ul>
        <p>
          <small><%= result.description %></small>
        </p>
      </div>
      <div class="video-selection">
        <span class="text-selected">✔ Selected</span>
        <span class="select-prompt">Click To Select</span>
      </div>
    </div>
    <% }); %>
  </script>

</div>
