# Editor configuration, see https://editorconfig.org
root = true

[*.cs]
max_line_length = off
indent_style = space
indent_size = 4

[*.cshtml]
max_line_length = off
indent_style = space
indent_size = 2

[*]
# Change these settings to your own preference
indent_style = space
indent_size = 2

# We recommend you to keep these unchanged
#end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.cs]
max_line_length = off
indent_style = space
indent_size = 4

[*.cshtml]
max_line_length = off
indent_style = space
indent_size = 4
