<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <add assembly="Perficient.Web" />
  </assemblies>
  <clientResources debug="true">
    <!-- Create an editStyles.css file in ClientResources/Styles if styles are needed in Epi edit exp. -->
    <!--<add name="epi-cms.widgets.base" path="Styles/editStyles.css" resourceType="Style"/>-->
    <add name="epi-cms.widgets.base" path="scripts/editors/display/targetedDisplayOptions.js" resourceType="Script" />
    <add name="epi-cms.widgets.base" path="scripts/editors/display/displayOptionsContentAreaOverlay.js" resourceType="Script" />
    <add name="epi-cms.widgets.base" path="templateLibrary/contentediting/editors/customTextWithActionsMixin.js" resourceType="Script" />
    <add name="epi-cms.widgets.base" path="scripts/editors/themes/customContentArea.css" resourceType="Style" />
    <add location="external-libs" path="scripts/editors/util/underscore.js" resourceType="Script" />
    <add name="epi-cms.widgets.base" path="styles/editorStyles.css" resourceType="Style"/>
  </clientResources>
  <dojo>
    <paths>
      <add name="custom-scripts" path="scripts" />
      <add name="score" path="scripts" />
      <add name="app" path="scripts" />
      <add name="templates" path="templateLibrary" />
      <add name="domanager-resources" path="scripts" />
    </paths>
  </dojo>
  <clientModule initializer="app.moduleInitializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="external-libs" />
    </requiredResources>
  </clientModule>
</module>
