/* Colors */
$white: #FFFFFF;
$black: #000000;
$primarygrey: #545859;
$lightgrey: #F8F6F6;
$mediumgrey: #7e8282;
$darkgrey: #545859;
$titlefont: #545859;
$bodyfont: #252727;

/* Max Widths */

$mobile: calc(100% - 1.875rem);
$desktop: 1366px;
$col1: 8.333333%;
$col2: 16.66666%;
$col3: 25%;
$col4: 33.333%;
$col5: 41.6666%;
$col6: 50%;
$col7: 58.33333%;
$col8: 66.66666%;
$col9: 75%;
$col10: 83.33333%;





